/.git
/.gitignore
/.vscode
/node_modules
/vendor
/.env
/.env.local
/.env.docker
/AGENTS.md
/*.md
/.phpunit.cache
/public/storage
/phpunit.xml
/storage/app/private
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
/database/database.sqlite
